<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="E:\RT-Thread\WiFi_Project\RT-Thread_Projects\projects\stm32l475_ota_sample\rtthread.bin" SAVEFILE="E:\RT-Thread\WiFi_Project\RT-Thread_Projects\projects\stm32l475_ota_sample\rtthread.rbl" COMPRESS="1" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="2.0.0" />
</configuration>